.nav {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    width: 154px;
    height: 24px;
}
.text-home {
    font-size: 16px;
    font-family: 'Inter';
    text-decoration: none;
    color: #18191F;
}
.links {
    display: flex;
}
.text-service {
    font-size: 16px;
    font-family: 'Inter';
    margin-left: 50px;
    text-decoration: none;
    color: #18191F;
}
.text-feature {
    font-size: 16px;
    font-family: 'Inter';
    margin-left: 50px;
    text-decoration: none;
    color: #18191F;
}
.text-product {
    font-size: 16px;
    font-family: 'Inter';
    margin-left: 50px;
    text-decoration: none;
    color: #18191F;
}
.text-testimonial {
    font-size: 16px;
    font-family: 'Inter';
    margin-left: 50px;
    text-decoration: none;
    color: #18191F;
}
.text-faq {
    font-size: 16px;
    font-family: 'Inter';
    margin-left: 50px;
    text-decoration: none;
    color: #18191F;
}
.text-login {
    border: none;
    background-color: transparent;
    color: #4CAF4F;
    font-size: 17px;
    font-family: 'Inter';
    cursor: pointer;
}

.text-sign-up {
    width: 91px;
    height: 40px;
    font-size: 15px;
    font-family: 'Inter';
    color: white;
    cursor: pointer;
    background-color: #4CAF4F;
    border-radius: 8px;
    border: none;
}
.container1 {
    width: 100%;
    height: 600px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1 {
    width: 657px;
    height: 276px;
    border: 1px solid red;
}
.text-lessons {
    color: #4D4D4D;
    font-size: 40px;
    font-family: 'Inter';
    
}